.wrapper {
  -webkit-transform: rotate3d(0, 0, 0, 0);
          transform: rotate3d(0, 0, 0, 0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: 7s rotatediv infinite;
          animation: 7s rotatediv infinite;
}

:root {
  --template-columns: 100px 100px 1fr;
  --height: 200px;
  --clip: 200px 0;
}

@media screen and (min-width: 600px) {
  :root {
    --template-columns: 125px 125px 1fr;
    --height: 250px;
    --clip: 250px 0;
  }
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--template-columns);
      grid-template-columns: var(--template-columns);
  grid-template-row: 1fr 1fr 1fr;
}

.layout .grid-item {
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  height: 150px;
}

.layout .grid-item:nth-child(1) {
  background: #eb2b27;
  height: var(--height);
  -webkit-transform: translate3d(0, 0, 40px);
          transform: translate3d(0, 0, 40px);
}

.layout .grid-item:nth-child(2) {
  height: auto;
  background: #dfe1d6;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-transform: translate3d(0, 0, 120px);
          transform: translate3d(0, 0, 120px);
}

.layout .grid-item:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-clip-path: polygon(0 0, var(--clip), 100% 100%, 0% 100%);
          clip-path: polygon(0 0, var(--clip), 100% 100%, 0% 100%);
  background: #00000a;
  -webkit-transform: translate3d(0, 0, 160px);
          transform: translate3d(0, 0, 160px);
}

.layout .grid-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  background: #eb2b27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 80px);
          transform: translate3d(0, 0, 80px);
}

body {
  background: #212121;
}

.wrapper {
  -webkit-box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 10px;
  background: black;
}

#toggle {
  border: 2px solid #dfe1d6;
  background: transparent;
  padding: 10px;
  color: #dfe1d6;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: 5px;
}

#toggle:hover, #toggle:focus {
  background: #dfe1d6;
  color: #212121;
}

#toggle:active {
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
}

.no-animation .wrapper {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes rotatediv {
  10% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: rotate3d(3, 29, 0, 80deg);
            transform: rotate3d(3, 29, 0, 80deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
}

@keyframes rotatediv {
  10% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: rotate3d(3, 29, 0, 80deg);
            transform: rotate3d(3, 29, 0, 80deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
}

p.more {
  padding: 5px;
  position: absolute;
  top: 30px;
}

p.more,
a {
  color: #dfe1d6;
  text-align: center;
}

h1 {
  margin: 20px;
}

.inner-grid {
  display: -ms-grid;
  display: grid;
  padding: 0 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: white;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  grid-gap: 5px;
  -ms-flex-line-pack: end;
      align-content: end;
}

.inner-grid p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */