@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');
$elements: 5;
body {
    background-color: #EFCDB8;
    font-family: 'Poppins', sans-serif;
    color: #2F275E;
    box-sizing: border-box;
    overflow: hidden;
}

.square {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 100%;
    border: solid 10px #2F275E;
    color: #EFCDB8;
    background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #2F275E 10px, #2F275E 20px);
    background-repeat: no-repeat;
    background-size: cover;
    & span {
        position: absolute;
        text-transform: uppercase;
        line-height: 4rem;
        font-weight: 800;
        font-size: 90px;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 10px 10px #2F275E;
    }
}

.items {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.item {
    color: #EFCDB8;
    width: 250px;
    font-weight: 800;
    font-size: 24px;
    white-space: nowrap;
    border: solid 10px #EFCDB8;
    padding: 10px;
    margin-top: -10px;
    background-color: #2F275E;
    overflow: hidden;
}

.anim-info {
    position: absolute;
    font-weight: 800;
    .info-field {
        box-sizing: border-box;
        position: absolute;
        background-color: #EFCDB8;
        border: 8px solid #2F275E;
        margin-top: -8px;
        padding: 10px;
        word-wrap: none;
        font-size: 24px;
        overflow: hidden;
    }
    &.info-panel {
        top: 40px;
    }
    &.info-items {
        bottom: #{40 + $elements * 56}px;
        color: #EF787D;
        .info-field {
            border: 8px solid #EF787D;
        }
    }
    &.reverse {
        //left: auto;
        .info-field {
            right: 0px;
        }
    }
}

.anim-name {}

@for $i from 0 to $elements {
    .info-field:nth-child(#{$i + 1}) {
        transform: translate(0,
        #{$i * 56}px);
    }
}

.label {
    white-space: nowrap;
}